# Environment files
/.env
/.env.*
!/.env.example

# Dependency directories
/node_modules
/vendor

# Build & output directories
/public/build
/public/hot
/public/storage

# Storage & cache
/.phpunit.cache
/phpunit.result.cache
/storage/*.key
/storage/pail

# IDE & editor settings
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# Homestead & config
Homestead.json
Homestead.yaml
/auth.json

# Log files
npm-debug.log
yarn-error.log
